@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-bg-color {
  @apply bg-gradient-to-r from-[#0F2027] via-[#203A43] to-[#2C5364];
}

.card-border-color-shadow {
  @apply border border-[#6EE7B7] hover:border-[#3B82F6]  focus:border-[#3B82F6];
  @apply shadow-md shadow-[#6EE7B7];
}
.time-border-color-shadow {
  @apply border border-[#2c3e50];
  @apply shadow-sm shadow-[#bdc3c7];
}

.heading-text-color {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-[#1f4037] to-[#99f2c8];
}
